<!DOCTYPE html>
<html>

<head>
    <title>Home | feed India</title>
    <link rel="shortcut icon" href="assets/logo.PNG" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Grenze|Quicksand|Ubuntu|Chelsea+Market&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            background: white;
        }
        
        .container {
            position: absolute;
            height: auto;
            width: 100%;
            top: 14%;
            left: 0;
            font-family: 'Grenze', serif;
            color: #25a44d;
            text-align: center;
            float: left;
            display: inline;
        }
        
        h2 {
            font-family: 'Chelsea Market';
            color: #25a44d;
        }
        
        p {
            font-family: 'Ubuntu';
            color: black;
        }
        
        h1 {
            font-family: 'Chelsea Market';
            font-size: 45px;
            margin-bottom: 4px;
        }
        
        #abc p {
            color: #25a44d
        }
        
        h5 {
            font-family: 'Chelsea Market';
            font-size: 20px;
            color: white;
        }
        
        button {
            height: 30px;
            outline: none;
            font-family: 'Ubuntu';
            background: #25a44d;
            color: white;
            width: 10%;
            border: 0px solid transparent;
            border-radius: 2px;
        }
        
        button:hover {
            opacity: 0.7;
        }
    </style>
</head>

<body>
    <header>
        <img style="height:100%;width:14%" src="assets/logo.png">
        <ul id="head_ul">
            <a href="/index">
                <li class="head_li">Home</li>
            </a>
            <a href="/about">
                <li class="head_li" style="background:white;color:black;">About us</li>
            </a>
            <a href="/donate">
                <li class="head_li">Donate</li>
            </a>
            <a href="/articles">
                <li class="head_li">Articles</li>
            </a>
            <a href="/contact">
                <li class="head_li">Contact us</li>
            </a>
            <a href="/login">
                <li class="head_li">Login</li>
            </a>
        </ul>
    </header>
    <div class="container">
        <div style="float:left;padding-top:5%;margin-left:20px;width:50%"><img src="assets/about.jpg" style="padding:0;position:relative;left:0;border-radius: 10px;" width="100%" alt="food"></div>
        <div style="float:right;width:40%;position:relative;padding-top:5%;text-align:left;padding-right:30px;">
            <h2><strong style="font-size:50px">feed India</strong> is an NGO working to empower less-privileged sections of society with access to adequate food .</h2>
            <p>Deepam is a registered non-profit organization conceived with the goal of improving food problem among less-privileged sections of the society.</p>
            <p>Deepam reaches out to about 2500 individuals through 12 centres around India. We have over 50 regular volunteer members (drawn from our volunteer pool of over 300 members).</p>
            <p>We believe that each and every section of the society should have access to proper and adequate food facilities.</p>
            <p>We are a team of self-motivated individuals who think for the society at large before their self-needs.</p>
        </div>

        <div style="width:100%;position:relative;float:left;top:30%;height:30%;">
            <div style="position:absolute;width:30%;left:0;">
                <h2>
                    OUR MISSION
                </h2>
                <P>
                    feed India believes that every individual deserves to have access to proper and adequate food facilities.
                </P>
            </div>
            <div style="position:absolute;width:30%;left:35%;">
                <H2>OUR VISION</H2>
                <p>Our vision is to provide access to food and exposure to possibilities for less-privileged individuals, in our neighbourhood.</p>
            </div>
            <div style="position: relative;;width:25%;left:70%;right:0">
                <H2>OUR VALUES</H2>
                <p>feed India values the long-term happiness of individuals, mentors and the feed India Volunteers.</p>
            </div>
        </div>
        <DIV style="position: absolute;top:110%;height:30%;text-align:center;width:85%;left:7.5%;">
            <H2 style="font-size:40px;">HOW IT WORKS?</H2>
            <p>As a NGO, we contact the restaurants and messes around the city.A huge quantity of food is leftover at these places, which the owners simply throw away. Instead of simply throwing away the food they donate the food to us so that we can serve
                the food to the less priviledged individuals.</p>
        </DIV>
        <DIV style="position: absolute;top:150%;height:30%;text-align:center;width:85%;left:7.5%;">
            <H2 style="font-size:40px;">LET'S REWIND A BIT</H2>
            <p>feed India as an idea was initiated in January 2008 when early volunteers discussed giving-back to the society. Since then, a bunch of enthusiastic volunteers have made the idea, a reality. As we realised since the start, it has been us, volunteers,
                who have benefitted the most out of the interaction with the children.</p>
        </DIV>
        <DIV style="position: absolute;top:190%;height:30%;text-align:center;width:85%;left:7.5%;">
            <H2 style="font-size:40px;">OUR FIRST CENTER</H2>
            <p>We ran a pilot program in April 2008 at Rajpur in Dehradun, with the help of Deepam, a SHG. Every weekend during this period, the children who gathered at Nalamdana’s centre in Perungudi played with food, with guidance from feed India volunteers.The
                volunteers were asked to bring food from their side(as much as possible). The enthusiasm shown by the children inspired the feed India team to take this idea to other parts of India.</p>
        </DIV>
        <DIV id="abc" style="position: absolute;top:240%;height:60%;text-align:center;width:100%;background:url('assets/beidge.jpg')">
            <H2 style="font-size:40px;padding-top:40px;">WHERE ARE WE NOW</H2>
            <div style="position:absolute;width:20%;left:2.5%;">
                <h1>11</h1>
                <p>
                    Years of work
                </p>
                <p style="color:rgba(0, 0, 0, 0.7)">feed India has been impacting less-privileged individuals, since 2008</p>
            </div>
            <div style="position:absolute;width:20%;left:27.5%;">
                <h1>12</H1>
                <p>Centers</p>

                <p style="color:rgba(0, 0, 0, 0.7)">feed India works with 12 centres, in Dehradun and Muzaffarnagar</p>
            </div>
            <div style="position: absolute;width:20%;left:52.5%">
                <H1>2500+</H1>
                <p>People served</p>

                <p style="color:rgba(0, 0, 0, 0.7)">feed India program has impacted over 2500 less-privileged individuals since the start.</p>
            </div>
            <div style="position: absolute;width:20%;left:77.5%">
                <H1>120+</H1>
                <p>Active volunteers</p>

                <p style="color:rgba(0, 0, 0, 0.7)">Active Volunteers help feed India make an impact.</p>
            </div>
        </div>
        <DIV style="position: absolute;top:310%;height:40%;text-align:center;width:85%;left:7.5%;">
            <H2 style="font-size:40px;">OUR TEAM</H2>
            <p>feed India is modelled as a society of people who are interested in bridging the gap through proper food. Deepam is a not-for-profit society. It is owned by feed India community and not ‘individuals’. All of us work as does a mom-and-pop store,
                keeping the family spirit high and invoking roles only when responsibility beckons with a tap on a shoulder.</p>
        </DIV>
        <DIV id="abc" style="position: absolute;padding-top:100px;top:350%;height:60%;text-align:center;width:100%;background:url('assets/paper.png');background-repeat:no-repeat;background-size:cover;">
            <h4 style="position:relative;color:rgba(255, 255, 255, 0.8);left:25%;width:50%;font-family:'Ubuntu';font-weight:200;letter-spacing:0.02em">37, Milan Vihar, Rajpur Road, Dehradun, Uttarakhand-248001, India. info@feedIndia.in
            </h4>
            <hr style="width:80%;">
            <div>
                <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                <input placeholder="Email" style="font-family:'Ubuntu';height:24px;padding:2px;margin-right:5px;border-radius:2px;border:0px solid transparent" type="mail" name="" id=""><button>SUBSCRIBE</button>
            </div>
        </DIV>

    </div>

    <footer>
        <div style="display: inline; ">

            <span style="padding-top:15px;padding-left:15px;float: left; ">Feed India © 2019 Website Designed & Maintenance By SR Techies</span>
            <div style="display: inline;float:right;margin-right: 30px; ">
                <a href="https://www.facebook.com/unitednations/" class="fa fa-facebook "></a>
                <a href="https://twitter.com/UN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter "></a>
                <a href="https://in.linkedin.com/company/united-nations" class="fa fa-linkedin "></a>
                <a href="https://www.instagram.com/unitednations " class="fa fa-instagram "></a>
            </div>

        </div>

    </footer>
    <script src="assets/js/script.js " type="text/javascript "></script>
</body>

</html>