.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: rgb(221, 42, 123);
    color: white;
}

header {
    width: 100%;
    height: 10%;
    z-index: 2;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

#head_ul {
    float: right;
    display: inline-block;
    list-style-type: none;
    color: white;
    padding-bottom: 1%;
}

.head_li {
    display: inline;
    color: white;
    width: auto;
    height: auto;
    padding: 4px 12px 4px 12px;
    border: 1px solid transparent;
    border-radius: 14px;
    transition-duration: 0.5s;
    font-size: 20px;
    margin-right: 4px;
    font-family: 'Ubuntu', sans-serif;
}

.head_li:hover {
    color: black;
    background: white;
}

a {
    text-decoration: none;
}

footer {
    display: inline-block;
    position: fixed;
    height: 8%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 14px;
    font-family: "Ubuntu";
}